<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="js/employee.js"></script>
    <script src="js/jquery.tablesorter.min.js"></script>
    <script>
      $(function(){
          $("#nav-placeholder").load("/navbar"); 
      });
    </script>
    
    <link href="stylesheets/main.css" rel="stylesheet" />
    <link href="stylesheets/tablesorter.css" rel="stylesheet" />
  </head>
  

  <body>
    <div id="wrapper">
      <div id="nav-placeholder"></div>
      <div id="page-wrapper" >
          <div id="page-inner">
              <div class="row">
                  <div id="topPage"class="col-md-12">
                    <button type="button" class ="btn btn-default btn-sm" id="allEmployees">Click me to display all employees!</button>
                    <input id="user-first-name" placeholder="Search table by any column!" type="text" size="40" />
                    <h3 style="color: red"id="output"></h3> 
                    <div id="showData"></div>
                    <div id="dialog-form" title="Edit Employee">
                      <form>
                          <fieldset>
                              <p id="editedUserID"></p>
                              <label for="editFirstName">First Name</label>
                              <input type="text" name="editFirstName" id="editFirstName" value="" class="text ui-widget-content ui-corner-all" />                             
                             <br>                             
                              <label for="editLastName">Last Name</label>
                              <input type="text" name="editLastName" id="editLastName" value="" class="text ui-widget-content ui-corner-all" />                                                           
                             <br>                             
                              <label for="editJobDescription">Job Description</label>
                              <input type="text" name="editJobDescription" id="editJobDescription" value="" class="text ui-widget-content ui-corner-all"/>
                             <br>
                              <label for="editShift">Shift</label>
                              <input type="text" name="editShift" id="editShift" value=""class="text ui-widget-content ui-corner-all" />
                             <br>
                              <label for="editSalary">Salary</label>
                              <input type="number" name="editSalary" id="editSalary" value=""class="text ui-widget-content ui-corner-all" />
                             <br>
                              <label for="editShop">Shop</label>                              
                              <select id="editShop">
                                
                              </select>
                             <br>

                              <label for="editEnclosure">Enclosure</label>                              
                              <select id="editEnclosure">
                                
                              </select>
                             <br>
                              
                          </fieldset>
                      </form>
                  </div>
                </div>
              </div>              
                <hr />          
          </div>
      </div>
    </div>
  </body>
</html>