<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/chartist.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
        

        <link href="stylesheets/main.css" rel="stylesheet" />               
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="stylesheets/paper-dashboard.css" rel="stylesheet" type='text/css' />
    <link href="stylesheets/themify-icons.css" rel="stylesheet" type='text/css' />

    <script>
      $(function(){
          $("#nav-placeholder").load("/navbar"); 
      });
    </script>
  </head>

  <body>
    <div id="wrapper">
      <div id="nav-placeholder"></div>
          <div id="page-inner">
            <div class="main-panel">
              <div class="content">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-4 col-sm-6">
                              <div class="card">
                                  <div class="content">
                                      <div class="row">
                                          <div class="col-xs-5">
                                              <div class="icon-big icon-warning text-center">
                                                  <i class="ti-face-smile"></i>
                                              </div>
                                          </div>
                                          <div class="col-xs-7">
                                              <div class="numbers">
                                                  <p>Current Visitors</p>
                                                  <div id="zoo-visitors">594</div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="footer">
                                          <hr />
                                          <div class="stats">
                                              <i class="ti-reload"></i> Updated now
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <div class="card">
                                  <div class="content">
                                      <div class="row">
                                          <div class="col-xs-5">
                                              <div class="icon-big icon-success text-center">
                                                  <i class="ti-wallet"></i>
                                              </div>
                                          </div>
                                          <div class="col-xs-7">
                                              <div class="numbers">
                                                  <p>Revenue</p>
                                                  <div id="zoo-revenue">$5000</div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="footer">
                                          <hr />
                                          <div class="stats">
                                              <i class="ti-reload"></i> Just Now
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <div class="card">
                                  <div class="content">
                                      <div class="row">
                                          <div class="col-xs-5">
                                              <div class="icon-big icon-danger text-center">
                                                  <i class="ti-pulse"></i>
                                              </div>
                                          </div>
                                          <div class="col-xs-7">
                                              <div class="numbers">
                                                  <p>Complaints</p>
                                                  8
                                              </div>
                                          </div>
                                      </div>
                                      <div class="footer">
                                          <hr />
                                          <div class="stats">
                                              <i class="ti-reload"></i> The past week
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!--<div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Visitors Behavior</h4>
                                    <p class="category">24 Hours performance</p>
                                </div>
                                <div class="content">
                                    <div id="chartHours" class="ct-chart"></div>
                                    <div class="footer">
                                        <div class="chart-legend">
                                            <i class="fa fa-circle text-info"></i> Park Visitors
                                            <i class="fa fa-circle text-warning"></i> Purchases Food/Drinks
                                            <i class="fa fa-circle text-danger"></i> Purchases Souvenirs
                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-reload"></i> Updated yesterday
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="header">
                                <h3 class="title">Donations Statistics</h3>
                                <p class="category">(in millions)</p>
                                <select id="pieDateSelect">
                                  <option value="30000">From All Time</option>
                                  <option value="0">From Today</option>                                  
                                  <option value="7">From Last Week</option>
                                  <option value="30">From Last Month</option>
                                  <option value="365">From Last Year</option>
                                </select>
                              </div>
                              <div class = "content">
                                <div id="pieDiv"></div>
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated Now
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>


                  </div>
              </div>
            </div>
                <hr />          
          </div>
    </div>
  </body>
</html>