<head>
 	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="stylesheets/main.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	<title>Zoo Administration Site</title>
	
</head>
<div class = "container">
	<div class="wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="navbar-brand" href="/index">
                    <img src="images/zooLogo.png" />
                </a>
            </div>
                      
        </div>
    </div>
		</div>
		<hr class"background"><br>
		<form action="/login" method="post" name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Welcome to Zoo Administration Site! Please Sign In</h3>
				<hr class="colorgraph"><br>
			  
			  <input type="text" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
			  <input type="password" class="form-control" name="password" placeholder="Password" required=""/>     		  
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="submit" value="Login" type="Submit">Login</button>  			
		</form>	
			
	</div>
